@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF961F;
}
.page-title {
    color: #FFF3B0;
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
}
