@import url('https://fonts.googleapis.com/css2?family=Alice&family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html{
background: #f0c57a;
background: linear-gradient(0deg,rgba(240, 197, 122, 1) 0%, rgba(255, 179, 179, 1) 50%, rgba(208, 188, 247, 1) 100%);
background-size: 500px 1000px;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

.morning div {
  border: 5px solid pink;   /* or orange for midday */
  border-radius: 10px;
  padding: 20px;
  background: #fff;
  width: 300px;
  height: 430px;
  margin-left: 50px;
}


.midday div {
  border: 5px solid rgb(255, 215, 145);   /* or orange for midday */
  border-radius: 10px;
  padding: 20px;
  background: #fff;
  width: 300px;
  height: 430px;
  margin-left: 450px;
  margin-top: -520px;
}

.night div{
  border: 5px solid rgb(197, 153, 235);   
  border-radius: 10px;
  padding: 20px;
  background: #fff;
  width: 300px;
  height: 430px;
  margin-left: 850px;
  margin-top: -502px;
  
}







#buttons {
margin-left: 530px;
}

#buttons1{

margin-left: 120px;

}

#buttons2{

margin-left: 935px;

}

/*

.container {
flex-direction: column;
  display: flex;
  background-color: #6870c2;
  color: #7b9fd1;
  justify-content: space-between;
font-family: 'Courier New', Courier, monospace;

}


.container div {
  background-color: #b4cbe0;
  margin: 10px;
  padding: 20px;
  font-size: 12px;
  text-align: center;


}

*/



header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FF961F;
  padding: 1em;
  margin: 0;
}
.page-title {
  color: #FFF3B0;
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
}
nav {
  display: flex;
  background-color: #47B9FF;
  align-items: center;
  padding: 1.5rem;
  border: solid #FFF3B0 4px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
nav:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px #3793cc;
}
nav p {
  text-align: center;
  flex-grow: 1;
}
nav a {
  color: #FFF3B0;
  text-decoration: none;
  font-weight: bold;
  font-family: "Comfortaa", sans-serif;
  font-size: 24px;
  transition: 0.2s ease;
}
nav a:hover {
  color: #FFADF1;
  text-shadow: 0 0 10px #FF961F;
}
body {
  margin: 0;
  padding: 0;
}
body p {
  margin: 0 10px;
  font-size: 20px;
}
h1 {
  color: #FE4134;
  margin-left: 10px;
  font-family: "Alice", serif;
}
h2 {
  font-family: "Alice", serif;
  font-size: 30px;
}
.center {
  text-align: center;
}
footer {
  margin-top: 50px;
  margin-bottom: 0;
  background: #FF961F;
  padding: 20px;
  border: solid #FFF3B0 2px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
footer p {
  font-size: 15px;
}
